MYSQL_DATABASE=training
MYSQL_USER=training
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me

HOST_PORT=3306
CONTAINER_PORT=3306

DOCKER_CONTAINER=training-container
DOCKER_IMAGE=training-image
